body {
    background-color: #eee;
}

a:hover {
    background-color: #FFF;
}
a:visited {
    background-color: #FFF;
}

.video-non-disp {
    display: none;
}
.video-block-disp {
    display: block;
}

.video-align {
    text-align: center;
}

.vide-margin-auto {
    margin: 0 auto;
}

.lax-font-white {
    color: #FFF;
}

.footer {
    margin: 1rem;
    text-align: center;
}

.video-container {
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    margin: 1rem;
    padding: 2rem;
}
.video-explanation {
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    margin: 0 .2rem;
    padding: 2rem;
}

.lax-btn-twitter {
    background-color: #00aced;
    border-style: none;
}

.lax-btn-facebook {
    background-color: #305097;
    border-style: none;
}

.video-button-collection {
    margin: 1rem;
}

.video-img {
    display: block;
    margin: 0 auto;
}
