[% WRAPPER 'include/layout.tt' %]

[% INCLUDE 'include/sns.tt' %]

<div class="section pagination">
    [% INCLUDE 'include/pagination.tt' WITH location = 'top', pager = pager %]
</div>

<div id="video-list" class="section video">
    [% INCLUDE 'include/videos.tt' WITH list = list %]
</div>

<div class="section pagination">
    [% INCLUDE 'include/pagination.tt' WITH location = 'bottom', pager = pager %]
</div>

[% END #wrapper %]
